// Layout

$spacing-xsmall: 2px;
$spacing-small: 4px;
$spacing-regular: 8px;
$spacing-medium: 12px;
$spacing-xmedium: 14px;
$spacing-large: 16px;
$spacing-xlarge: 20px;
$spacing-xxlarge: 24px;
$spacing-xxxlarge: 32px;
$spacing-4xlarge: 36px;
$spacing-5xlarge: 40px;
$spacing-10xlarge: 100px;

$size-item-xxsmall: 20px;
$size-item-xsmall: 24px;
$size-item-small: 28px;
$size-item-medium: 32px;
$size-item-regular: 36px;
$size-item-large: 40px;
$size-item-xlarge: 44px;
$size-item-xxlarge: 48px;
$size-item-xxxlarge: 52px;
$size-item-4xlarge: 56px;
$size-item-5xlarge: 60px;

$size-icon-regular: 16px;
$size-icon-large: 24px;

$radius-small: 2px;
$radius-regular: 4px;
$radius-medium: 8px;
$radius-large: 16px;
$radius-xlarge: 32px;
$radius-circle: 10000px;

$max-page-width: 1600px;
$min-page-width: 900px;

$zindex-modal: 900;
$zindex-portal: 1000;
$zindex-nav-bar: 1150;
$zindex-nav-menu: 9999;

// Typography

$font-family: proxima-nova, Helvetica, Arial, sans-serif;
$font-weight-thin: 400;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// explanatory
$font-small: 12px;
$font-small-line-height: 16px;

// regular
$font-regular: 14px;
$font-regular-line-height: 20px;

// title
$font-large: 18px;
$font-large-line-height: 24px;

// heading
$font-xlarge: 24px;
$font-xlarge-line-height: 32px;

// medium
$font-xxlarge: 32px;
$font-xxlarge-line-height: 36px;

// large
$font-xxxlarge: 40px;
$font-xxxlarge-line-height: 40px;

// Main colors

$color-blue: #1076FB;
$color-blue-hover: #0C5EC8;
$color-blue-active: #F3F8FF;
$color-green: #1DB92C;
$color-green-hover: #19A126;
$color-yellow: #FFC100;
$color-yellow-hover: #DEA800;
$color-orange: #FF801D;
$color-orange-hover: #D96C18;
$color-red: #FE2A4B;
$color-red-hover: #D3223E;
$color-pink: #F874A4;
$color-violet: #814CB5;
$color-cyan: #33B5E0;
$color-light-red-hover: #FFCCCB;
$color-light-red: #FFE0DF;
$color-blue-grey-lighten-7:  #DCDEE9;

$color-blue-secondary: #E7F1FF;
$color-red-secondary: #FFEAED;
$color-green-secondary: #E8F8EA;
$color-yellow-secondary: #FFF9E9;
$color-orange-secondary: #FFF2E8;
$color-pink-secondary: #FEF1F6;
$color-violet-secondary: #F2EDF8;
$color-cyan-secondary: #EBF8FC;
$color-gray-secondary: #F9F9FB;

$color-map: (
  'blue': $color-blue,
  'blue-hover': $color-blue-hover,
  'green': $color-green,
  'green-hover': $color-green-hover,
  'yellow': $color-yellow,
  'yellow-hover': $color-yellow-hover,
  'orange': $color-orange,
  'orange-hover': $color-orange-hover,
  'red': $color-red,
  'red-hover': $color-red-hover,
);

$color-names: 'blue', 'green', 'orange', 'red', 'yellow';

$color-dark90: #191919;
$color-dark70: #4A4C4C;
$color-dark30: #B2B7B9;
$color-dark10: #ECEDF270;
$color-light10: #E1E4E5;
$color-light02: #F6F9FB;
$color-white: #FFFFFF;

$color-primary: $color-blue;
$color-primary-hover: $color-blue-hover;

// Complementary colors

// NOTE: use `darken($color-com##, 60%/45%/30%/15%)` or `lighten($color-com##, 75%/60%/45%/30%/15%)`
// to get all the shades for the complementary colors.

$color-com01: #348afb;
$color-com02: #7ccfeb;
$color-com03: #f874a4;
$color-com04: #814cb5;
$color-com05: #ffc226;
$color-com06: #5cab62;

// Series complementary colors

$series-color-com01: #348afb;
$series-color-com02: #33b5e0;
$series-color-com03: #409eb0;
$series-color-com04: #0f7366;
$series-color-com05: #208d28;
$series-color-com06: #8dca09;
$series-color-com07: #ffc226;
$series-color-com08: #ff801d;
$series-color-com09: #bb1111;
$series-color-com10: #f75691;
$series-color-com11: #a00d61;
$series-color-com12: #6625a5;

$series-color-map: (
  'blue': $series-color-com01,
  'blue-light': $series-color-com02,
  'teal': $series-color-com04,
  'teal-light': $series-color-com03,
  'green': $series-color-com05,
  'green-light': $series-color-com06,
  'orange': $series-color-com08,
  'orange-light': $series-color-com07,
  'red': $series-color-com09,
  'red-light': $series-color-com10,
  'purple': $series-color-com12,
  'purple-light': $series-color-com11
);

$main-color-map: (
  'primary': $color-primary,
  'red': $color-red,
  'green': $color-green,
  'yellow': $color-yellow,
  'orange': $color-orange,
  'pink': $color-pink,
  'plum': $color-violet,
  'cyan': $color-cyan,
);

// Storm components color set

$color-gray-storm: #8e94b3;

// Transitions

$duration-visibility: 0.2s;
$easing-function-visibility: ease;

$duration-appearance: 0.1s;
$easing-function-appearance: linear;

$duration-educational: 0.8s;
$easing-function-educational: linear;

// Functions

// Mix white with the given color. Percentage is used to determine how "light" the end result will be.
// ex: tint($color-primary, 85%); - gives a lighter color than $color-primary, by 85%.
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Mix black with the given color. Percentage is used to determine how "dark" the end result will be.
// ex: shade($color-primary, 20%); - gives a darker color than $color-primary, by 20%.
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Mixins

@mixin dropdownShadow($extra: false) {
  @if $extra {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), $extra;
  }

  @else {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }
}

@mixin reverseDropdownShadow($extra: false) {
  @if $extra {
    box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.12), $extra;
  }

  @else {
    box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.12);
  }
}

@mixin hoverShadow() {
  box-shadow:
    2px 6px 12px 0 rgba(67, 67, 67, 0.06),
    0 0 1px 0 rgba(0, 0, 0, 0.06),
    0 2px 8px 0 rgba(0, 0, 0, 0.06);
}

@mixin textHeading() {
  font-size: $font-xlarge;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  line-height: $font-xlarge-line-height;
}

@mixin textTitleBold() {
  font-size: $font-large;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  line-height: $font-large-line-height;
}

@mixin textTitle() {
  font-size: $font-large;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: $font-large-line-height;
}

@mixin textBold() {
  font-size: $font-regular;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  line-height: $font-regular-line-height;
}

@mixin textRegular() {
  font-size: $font-regular;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: $font-regular-line-height;
}

@mixin textLink() {
  font-size: $font-regular;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: $font-regular-line-height;
  color: $color-blue;

  text-decoration: underline;
}

@mixin textExplanatory() {
  font-size: $font-small;
  font-family: $font-family;
  font-weight: $font-weight-semibold;
  line-height: $font-small-line-height;
}

@mixin textTitleUppercase() {
  font-size: $font-small;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  line-height: $font-small-line-height;
  text-transform: uppercase;
}

@mixin textMedium() {
  font-size: $font-xxlarge;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  line-height: $font-xxxlarge-line-height;
}

@mixin textLarge() {
  font-size: $font-xxxlarge;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  line-height: $font-xxxlarge-line-height;
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin verticalOverlay() {
  overflow-y: overlay;

  @supports not (overflow: overlay) {
    overflow-y: auto;
  }
}

@mixin transitionVisibility($properties...) {
  transition-duration: $duration-visibility;
  transition-timing-function: $easing-function-visibility;
  transition-property: $properties;
}

@mixin animationVisibility($animation, $properties...) {
  animation: $animation $duration-visibility $easing-function-visibility;
}

@mixin transitionAppearance($properties...) {
  transition-duration: $duration-appearance;
  transition-timing-function: $easing-function-appearance;
  transition-property: $properties;
}

@mixin animationAppearance($animation, $properties...) {
  animation: $animation $duration-appearance $easing-function-appearance;
}

@mixin transitionEducational($properties...) {
  transition-duration: $duration-educational;
  transition-timing-function: $easing-function-educational;
  transition-property: $properties;
}

@mixin animationEducational($animation, $properties...) {
  animation: $animation $duration-educational $easing-function-educational;
}


@mixin shake() {
  @include animationEducational(shake);

  @keyframes shake {
    14% {
      transform: translateX(-6px);
    }

    28% {
      transform: translateX(6px);
    }

    42% {
      transform: translateX(-4px);
    }

    56% {
      transform: translateX(4px);
    }

    70% {
      transform: translateX(-2px);
    }

    84% {
      transform: translateX(2px);
    }

    0%,
    100% {
      transform: translateX(0);
    }
  }
}

@mixin spinner($size: 32px, $color: $color-light10, $speed: .5s, $border-width: 3px) {
  display: block;
  backface-visibility: hidden;
  width: $size;
  height: $size;

  &::after {
    content: '';
    display: block;
    border: $border-width solid $color;
    border-bottom-color: transparent;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    animation: spin $speed ease infinite;
  }
}

@mixin loading($animate: true, $clip: true, $clip-mode: border-box) {
  background: linear-gradient(to right, $color-light10 0%, $color-light02 50%, $color-light10 100%);
  background-size: 200% auto;

  @if $animate ==true {
    animation: shine 1.5s linear infinite;
  }

  @else {
    color: $color-light10;
  }

  @if $clip ==true {
    cursor: default;
    word-break: break-all;
    color: transparent;

    background-clip: $clip-mode;
  }
}

@mixin loadingPlaceholder($width: 40%) {
  @include loading();
  width: $width;
  height: 24px;
  border-radius: $radius-regular;
}
